body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*calculator container*/

.calculator {
    width: 260px;
    background: #282c34;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(red, green, blue, alpha);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Display*/
.display {
    background: #1e1e1e;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 2px solid #444;
    width: 100%;
}

/*button*/


 button{
    width: 60px;
    height: 60px;
   padding: 20px;
   margin-top: 10px;
 }

.btn{
    margin: 0 auto;
}

.btn.operator {
    background: #f39c12;
}

.btn.equals {
    background: #27ae60;
    grid-column: span 2;
    width: 124px;
}

.btn.zero {
    grid-column: span 2;
}

.btn:hover {
    background: #444;
}